extends layout

block content
  h1 Do you know your friends?
  hr
  .row
    .col-sm-12#content
    .col-sm-12
      form.form-inline(role='form')
        .form-group.has-success.has-feedback
            input#guess.form-control(type='text', aria-describedby='guess')
            span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
    button#submit 
      | Guess
