extends layout

block content
  h1 Do you know your friends?
  hr
  .row
    .col-sm-12#content
    .col-sm-12#input
      form.form-inline(role='form')
        .form-group.has-success.has-feedback
            input#inputSuccess4.form-control(type='text', aria-describedby='inputSuccess4Status')
            span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
