extends layout

block content
  hr
  .row
    .col-sm-12#content
      .banner What's my name?
      .quiz-container

      .form-group.has-warning.has-feedback
          input#guess.form-control(type='text', aria-describedby='guess' placeholder="Enter your guess here")
          i.ion-checkmark.icon.form-control-feedback(aria-hidden='true')
      p.helptext 
      button.skip No clue
      button.hint Give me a hint
    
