doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Hackathon Starter
    != css('main')
  body

    //include partials/navbar

    .container
      include partials/flash
      block content

    if !user
      a.btn.btn-block.btn-social(href='/auth/facebook')
        i.fa.fa-facebook
        | Sign in with Facebook
      a.btn.btn-block.btn-social(href='/auth/google')
        i.fa.fa-google-plus
        | Sign in with Google  
    else
      a.btn.btn-block.btn-social(href='/logout')
        i.ion-log-out
        |  Logout  


    != js('application')
